<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
<ion-item>
  <ion-label floating>Name</ion-label>
  <ion-input type="text" [(ngModel)]="personName"></ion-input>
</ion-item>

<button ion-button clear block (click)="showGretting(personName)">Show greeting</button>

</ion-content>

<ion-footer>
  <ion-toolbar >
    Im a footer
  </ion-toolbar>
</ion-footer>